header{
  height: 150px;
  width: 100%;
  font-size: 20px;
  background-color: lightblue;
}

.header_bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post{
  border: 1px solid black;
  padding: 5px;
  font-size: 30px;
}
/* show */
.car-box{
 background-color: whitesmoke;
 /* display: flex; */
 justify-content: center;
 align-items: center;
}
.container{
  background-color: red;
  display: flex;
 justify-content: center;
 align-items: center;
}
.edit{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  background: whitesmoke;
 } 
 .car-destroy{
   padding: 5px;
   margin: 5px;
 }
 .car-edit{
   padding: 5px;
   margin: 5px;
 }
 .show-image{
  margin: 0 100px;
  width: 80%;
  height: 80%;
}
 
/* ここまで */
/* index */
.content{
 background: whitesmoke;
 display: flex;
 justify-content: center;
 align-items: center;
}
.car-image{
 margin: 0 100px;
 width: 80%;
 height: 100%;
}
.car-name{
 display: flex;
 justify-content: center;
}
.car-text{
  display: flex;
  justify-content: center;
}